In [1]:
print("Manisha")

Manisha

In [ ]:

### About jupyter notebook
""Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically type-checked and garbage-collected.
Source: 
Wikipedia""

In [1]:
y=5
type(y)

int

In [2]:
y="5"
type(y)

str

In [4]:
x=4
y=3
print(x+y)

7

In [6]:
y=5
y=str(y)
print(type(y))

<class 'str'>

In [8]:
age=input("enter your age")

enter your name maniha

In [9]:
age=input("enter your age")

enter your age 5

In [10]:
type(age)

str

In [11]:
age=int(input("enter the age"))

enter the age 5

In [12]:
type(age)

int

In [13]:
var1=6
var2=6.5
print(var1+var2)

12.5

In [14]:
name="Manisha"
surname="Thapa"
age=22

In [16]:
#fstring
print(f"my name is {name} and surname is {surname}")

my name is Manisha and surname is Thapa

In [17]:
print("my name is",name,"surname is ",surname)

my name is Manisha surname is  Thapa

In [23]:
# dot format
print("my name {} {}".format(name,surname))
print("my name is {} {}".format("tara","thapa"))

my name Manisha Thapa
my name is tara thapa

In [19]:
z=1j
type(z)

complex

In [21]:
is_student=True
type(is_student)

bool

In [26]:
b="namaste"
a="hello "
a+b

'hello namaste'

In [27]:
a = "55"
b = "3"

c = a + b
print(c)

553

In [28]:
query=input("enter you preferred course")

enter you preferred course datascience

In [29]:
type(query)

str

In [ ]:
# Rules for Python variables:

### ->Cannot be any of the Python keywords.
### ->Cannot start with a number
### ->Start with a letter or the underscore character
### ->Can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
### ->Case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#legal format for words more than 1
camel case
threeDifferentVariables


pascal case
AreThreeDifferent


snake case

are_three_different

In [ ]:
## Assign multi value
a, b = 3, 4

In [32]:
a, b = 3, 4
temp = 3
b = temp
b = a
a, b = b, a

In [36]:
a

4

In [34]:
a,b=3,4
a,b=b,a

In [35]:
a

4

In [37]:
#multiple assignment
x=y=z="bird"
a

4

In [38]:
x

'bird'

In [1]:
result=5>9
result

False

In [2]:
type(result)

bool